#cy {
  width: 74%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
}

.side-bar {
  width: 25%;
  height: 100%;
  position: fixed;
  background-color: #242527;

  z-index: 99;
  padding: 20px;
  left: 0px;
  top: 0px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  border-radius: 34px;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0966c1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0966c1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.result {
  background-color: #0966c1;
  border: none;
  color: white;
  font-weight: bold;
  padding: 32px 20px;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
